:root {

    --left-right-padding: 5%;
    --box-shadow: 0 0 2px rgb(182, 181, 181);
    --radius: 5px;
    --brand-primary: #0768AC;
    --brand-secondary: #03c180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
}



.details {
    display: flex;
    justify-content: center;
   
   
    color: white;
    background-image: linear-gradient(to bottom, var(--body-text) 0%, var(--body-text) 47%, transparent 45%, transparent 100%);
   
   
   

}

.details .left-section {

    width: 40%;
    padding-right: 10px;

}

.details .right-section {
    width: 270px;
    background-color: var(--bg_default);
    margin-top: 30px;
    margin-left: 10px;
    color: var(--body-text);
    height: max-content;

}

.details .left-section .type {

    color: var(--brand-secondary);
    margin-bottom: 0;
    font-weight: 400;
    margin-top: 30px;


}

.details .left-section .title {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.details .left-section .rating {

    margin-bottom: 10px;
}

.details .left-section .about {

    margin-bottom: 15px;
}

.card-body {

    padding-left: 15px;

}

.title a {
    font-weight: 400;
}

.details .left-section .about .description {
    width: 100%;
    margin-bottom: 10px;
}

.sub-topics {

    border-radius: 5px;
    box-shadow: var(--box-shadow);
   
    margin-top: 55px;
   
    background-color: var(--bg_default);
    color: var(--body-text);

}

.sub-topics-title,
.topic {
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
    padding-left: 24px;
    box-shadow: var(--box-shadow);
}

.topic {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.topic ion-icon {

    margin-left: 0px;
    margin-right: 8px;
    color: var(--brand-secondary);
    font-size: 20px;
   
   
}

.details .right-section img {

    object-fit: cover;
    width: 100%;
    height: 155px;

}

.card-body .title {
    margin-bottom: 0;
    margin-top: 5px;
}

.add-to-favorites {
    margin: 10px 15px 15px 0;
    box-shadow: 0 0 4px -1px rgb(182, 181, 181);
    padding: 5px 10px;
    border: 0.5px gray;
}

.add-to-favorites h5 {
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 10px;
}

.add-to-favorites button {
    background-color: var(--brand-secondary);
    padding: 15px;
    color: white;
    border: 0;
    font-size: 16px;
    /* font-weight: light; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-to-favorites button ion-icon {
    margin-left: 5px;
    font-size: 22px;
}

.credits {
    margin-left: 25%;
    margin-top: 5px;
    color: #a8a8be;
    font-size: 12px;
    font-weight: 700;
}

@media screen and (min-width: 1440px) {

    .details {
        width: 1440px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {

    .details {
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom, var(--body-text) 0%, var(--body-text) 68%, transparent 68%, transparent 100%);
    }

    .details .left-section {
        width: 100%;

    }

    .about, .sub-topics{
        width: 90%;
        margin-left: 5%;
    }
    .right-section {
        order: -1;
    }
}


@media screen and (max-width: 573px) {

    .sub-topics-title,
    .topic {

        font-size: smaller;
    }

    .add-to-favorites button {
        font-size: 14px;
    }

    .add-to-favorites button ion-icon {
        font-size: 18px;
    }

    .details .left-section .title {

        font-size: 20px;
    }

    .details .left-section .about .description {
        font-size: 14px;
    }


    .sub-topics {
        margin-top: 20px;
    }
}