:root {

    --left-right-padding: 5%;
    --box-shadow: 0 0 6px -1px rgb(182, 181, 181);
    --radius: 10px;
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
}

body {
    margin: 0;
    background-color: var(--bg_body);
    font-family: 'Nunito Sans', sans-serif;
}

.header {
    display: flex;

    justify-content: space-between;
    padding: 10px var(--left-right-padding);
    background-color: var(--bg_default);

}

.header .logo {
    color: var(--brand-primary);

}

.header .header-control {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header-control>button {
    margin-right: 5px;
}

.header .header-control button {
    background-color: transparent;
    height: 40%;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    box-shadow: var(--box-shadow);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header .header-control button ion-icon {
    margin-right: 3px;
}

.controls {

    box-shadow: var(--box-shadow);
    margin: 20px var(--left-right-padding) 10px;

    border-radius: 10px;
    background-color: var(--bg_default);
    display: flex;
    justify-content: flex-start;

}


.sort,
.filter {
    height: 85%;
    width: 13%;
    padding: 5px;
}

.sort {
    border-right: 1px solid rgb(182, 181, 181);

}

select {
    height: 32%;
    width: 100%;
    border: 0;
    border-radius: var(--radius);
    padding-left: 0;
    font-size: 14px;

}

input:focus {
    outline: none;
}

.search {
    display: flex;
    align-items: center;
    width: 74%;
    border-right: 1px solid rgb(182, 181, 181);

}

.search-outline {
    padding-left: 10px;
    padding-right: 5px;
}

.search-input {
    border: 0;
    height: 90%;
    width: 100%;
    font-size: 16px;
}

.input:focus {

    outline: none;
}

.control-label {
    font-size: 12px;
    margin-left: 4px;
}


.brand {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    display: flex;
    justify-content: center;

    background: linear-gradient(to bottom right, var(--brand-primary) 49%, transparent 50%),
        linear-gradient(to bottom left, var(--brand-secondary) 49%, transparent 50%);
    background-size: 100% 50%;
    background-color: var(--bg_default);
    background-repeat: no-repeat;
}

.brand .center-text {
    text-align: left;
}

.brand h3 {
    margin-top: 40px;
    margin-bottom: 0;
    color: var(--brand-secondary);
    font-weight: bold;
    font-size: 22px;
}

.brand p {
    margin-top: 0;
    color: var(--body-text);
    font-weight: 400;
}

.items-number {
    margin-left: var(--left-right-padding);
}

.items {
    margin-left: var(--left-right-padding);
    margin-right: var(--left-right-padding);

    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items .card {
    background-color: var(--bg_default);



    width: 230px;
    margin-bottom: 25px;

    border-radius: var(--radius);
    box-shadow: 0 0 3px -1px rgb(182, 181, 181);
}

.card a {
    text-decoration: none;
    color: var(--body-text);
}

.items .card .card-body {
    padding-left: 10px;
    padding-right: 10px;
}


.rating {
    display: inline-block;
}

.rating ion-icon {
    font-size: 15px;
    color: rgb(225, 147, 3);
    float: right;
}

.rating ion-icon:hover,
.rating ion-icon:hover~ion-icon {
    color: #ffcc00;
}


.items .card .card-body .title {
    font-weight: 700;
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 23px;
}

.items .card .card-body .author {

    color: #686767;
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
}

.items .card .card-body .type {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 0;
}

.items .card .img img {

    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    object-fit: cover;
    width: 100%;
    height: 145px;

}

.footer {
    margin: var(--left-right-padding);
    margin-top: 20px;
    justify-content: center;
    display: flex;

}

.footer ion-icon {
    color: var(--heart-color);
    font-size: 18px;
    margin-left: 5px;
    margin-right: 7px;
}

@media screen and (min-width: 1440px) {

    .header,
    .brand {
        max-width: 1440px;

        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }

    .controls,
    .items,
    .items-number {
        box-sizing: border-box;
        width: 1284px;
        margin-left: auto;
        margin-right: auto;
    }
}



@media screen and (max-width: 573px) {

    .button-text {
        display: none;
    }

    .header .header-control {
        width: auto;
    }

    .controls {
        flex-wrap: wrap;
    }

    .items {
        justify-content: space-around;
    }

    .brand {
        padding-left: 5%;

    }



    .brand h3 {
        margin-top: 60px;
    }



    .header .header-control button {
        font-size: smaller;
        --box-shadow: 0 0 1px 0.5px rgb(182, 181, 181);
    }



    .search {
        width: 100%;
        height: 53px;
        border-right: 0;
        border-bottom: 1px solid rgb(182, 181, 181);
    }

    .sort,
    .filter {
        width: 45%;

    }



    .search-input {
        border-top-right-radius: 10px;

    }

    .footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 512px) {
    .items .card {
        width: 100%;
    }

    .brand {
        background: linear-gradient(to bottom right, var(--brand-primary) 49%, transparent 50%),
            linear-gradient(to bottom left, var(--brand-secondary) 49%, transparent 50%);
        background-size: 100% 20%;
        background-color: var(--bg_default);
        background-repeat: no-repeat;
    }

    .brand h3 {
        margin-top: 27px;
    }
}